body { 
    padding-bottom: 20px; 
    max-width: 1000px;
    margin: 0 auto;
}

.logo{
    width: 90px;
    margin-top: 12px;
}

.banner{
    max-width: 500px;
}

#letterDiv {
    margin: 50px 0 5px;

}

.definitionContainer{
    height: auto;
    width: 100%;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px -1px 22px lightgrey;
    margin-top: 30px;
}

.definitionP{
    color: black;
    margin-bottom: 0.5em;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 1.2rem;
}

#definitionDiv{
    margin-top: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 1.6rem;
}

.divLetter {
    height: 35px;
    width: 35px;
    position: relative;
    float: left;
    margin: 1px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    position: relative;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: #f9f9ee;
    border-radius: 0;
    color: black;
    text-shadow: 2px 2px lightgrey;
    box-shadow: 3px 1px 3px #000;
    
}



button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    font-family: 'Hind Siliguri', sans-serif;
}

.modal-content-win {
    background-color: #fefefe;
    margin: auto;
    padding: 75px 20px 0 20px;
    border: 1px solid #888;
    width: 75%;
    height: auto;
    background: #e9e9e9 url(img/win.png) no-repeat;
    background-size: 40px;
    background-position: center;
    background-position-y: 15px;
    text-align: center;
   
}

.modal-content-loose {
    background-color: #fefefe;
    margin: auto;
    padding: 75px 20px 0 20px;
    border: 1px solid #888;
    width: 75%;
    height: auto;
    background: #e9e9e9 url(img/lose.png) no-repeat;
    background-size: 40px;
    background-position: center;
    background-position-y: 15px;
    text-align: center;
}

.incorrectLettersContainer{
    float: left;
}

.incorrectLetters{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bolder;
    color: #b9b9b9;
}

#incorrectLetters{
    font-family: 'Hind Siliguri', sans-serif;
    color: #b9b9b9;
}

.livesContainer{
    width: 100px;
    float: right;
    background-color: #f9f9ee;
    padding: 10px;
}

.wrong-letters-lives-container{
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.heartImage{
    height: 20px;
    width: 20px;
    float: right;
    margin-left: 7px;
}

.lives{
    font-family: 'Hind Siliguri', sans-serif;
    float: right;
    margin-left: 5px;
}

.numberOfLives{
    float: right;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 800;
}

.btnLettersContainer{
    max-width: 661px;
    margin-top: 20px;
}

.btnHint{
    padding: 10px 10px 10px 36px;
    font-family: 'Hind Siliguri', sans-serif;  
    background: url(img/idea.png) 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
}

.nextWordBtn{
    padding: 10px 10px 10px 36px;
    font-family: 'Hind Siliguri', sans-serif;  
    background: #e9e9e9 url(img/next.png) 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btnLetter {
    background-color: #222;
    border-radius: 50px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: 2px;
    min-height: 45px;
    min-width: 45px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
}

.btnLetter:hover{
    background-color: #00AEEF;  
}
.btnLetter:disabled{
    opacity: .50;
}