.banner-div{
    width: 238px;
    margin-top: 15px;
}

body { 
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.logo{
    width: 90px;
    margin: 6px 0 6px 0;
}

.banner{
    max-width: 500px;
}

#letterDiv {
    margin: 50px 0 5px;

}

.definitionContainer{
    height: 50vH;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.definitionP{
    color: black;
    margin-bottom: 0.5em;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    margin: 1.5em 0 0.5em 0;
}

#definitionDiv{
    margin-top: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 1.6rem;
}

.divLetter {
    height: 36px;
    width: 20px;
    position: relative;
    float: left;
    margin: 2px;
    margin-bottom: 33px;
    border-bottom: 3px solid black;
    position: relative;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    /* background-color: #f9f9ee; */
    border-radius: 0;
    color: black;
    
}

.footer {
    position: sticky;
    top: 100vh;
  }



button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    font-family: 'Hind Siliguri', sans-serif;
}

.modal-content-win {
    background-color: #fefefe;
    margin: auto;
    padding: 75px 20px 0 20px;
    border: 1px solid #888;
    width: 75%;
    height: auto;
    background: #e9e9e9 url(img/win.png) no-repeat;
    background-size: 40px;
    background-position: center;
    background-position-y: 15px;
    text-align: center;
   
}

.modal-content-loose {
    background-color: #fefefe;
    margin: auto;
    padding: 75px 20px 0 20px;
    border: 1px solid #888;
    width: 75%;
    height: auto;
    background: #e9e9e9 url(img/lose.png) no-repeat;
    background-size: 40px;
    background-position: center;
    background-position-y: 15px;
    text-align: center;
}

#incorrectLettersContainer{
    width: 195px;
    float: left;
    flex: none;
    display: none;

}

.incorrectLetters{
    font-family: 'Hind Siliguri', sans-serif;
    color: #b9b9b9;
    float: left;
}

#incorrectLetters{
    font-family: 'Hind Siliguri', sans-serif;
    color: #b9b9b9;
    float: left;
    margin-left: 6px;
}

.livesContainer{
    width: 117px;
    float: right;
    background-color: #f9f9ee;
    padding: 20px;
    margin-right: 20px;
}

.wrong-letters-lives-container{
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.heartImage{
    height: 20px;
    width: 20px;
    float: right;
    margin-left: 7px;
}

.lives{
    font-family: 'Hind Siliguri', sans-serif;
    float: right;
    margin-left: 5px;
}

.numberOfLives{
    float: right;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 800;
}

.btnLettersContainer{
    max-width: 713px;
    margin:30px 0 80px 0;
}

.btnHint{
    padding: 10px 10px 10px 36px;
    font-family: 'Hind Siliguri', sans-serif;  
    background: url(img/idea.png) 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    float: right;
}

.btnHint:disabled{
    opacity: .50;
}

.nextWordBtn{
    padding: 10px 10px 10px 36px;
    font-family: 'Hind Siliguri', sans-serif;  
    background: #e9e9e9 url(img/next.png) 10px 10px no-repeat;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btnLetter {
    background-color: #222;
    border-radius: 50px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: 4px;
    min-height: 45px;
    min-width: 45px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
}

.btnLetter:hover{
    background-color: #00AEEF;  
}
.btnLetter:disabled{
    opacity: .30;
}